In [1]:
# Import dependencies
import pandas as pd

In [2]:
data = pd.read_csv('vine_table.csv')
df = pd.DataFrame(data)
df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y
...,...,...,...,...,...,...
2746864,RPC430LWZJ60T,5,1,1,N,N
2746865,R347MZT5FH6HRJ,5,2,2,N,N
2746866,RJ5BETZP0VIUS,1,0,2,N,N
2746867,R85QTDO2KZMGO,1,1,3,N,N
2746868,R2W36RZZZNTYWF,5,1,1,N,N

In [3]:
df.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [4]:
# Filter the data and create a new DataFrame  where the total_votes count is equal to or greater than 20
totalVotes_df = df.loc[df['total_votes']>=20]
totalVotes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
397,R127WEQY2FM1T3,1,147,175,N,Y
477,R3EZ0EPYLDA34S,1,14,31,N,Y
807,R2FJ94555FZH32,2,55,60,N,N
...,...,...,...,...,...,...
2746560,R3GYUWLD9FWCPS,5,30,30,N,N
2746586,R26KS4Q9G04FIV,2,8,21,N,N
2746660,RU0J1ZMBCLD27,5,27,29,N,N
2746678,R1D69XH2THYKTG,5,18,20,N,N
2746807,R3U5C85OV6BUKM,4,38,43,N,N

In [5]:
# Filter the totalVotes_df to retrieve all the rows where the number of helpful_votes divided 
# by total_votes is equal to or greater than 50%.
votesPercentage_df = totalVotes_df.loc[(df['helpful_votes']/df['total_votes'])>=0.5]
votesPercentage_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
397,R127WEQY2FM1T3,1,147,175,N,Y
807,R2FJ94555FZH32,2,55,60,N,N
861,R1U3AR67RE273L,1,51,65,N,Y
...,...,...,...,...,...,...
2746513,RCMDCDJR16IKW,4,27,30,N,N
2746560,R3GYUWLD9FWCPS,5,30,30,N,N
2746660,RU0J1ZMBCLD27,5,27,29,N,N
2746678,R1D69XH2THYKTG,5,18,20,N,N
2746807,R3U5C85OV6BUKM,4,38,43,N,N

In [6]:
# Filter the votesPercentage_df and retrieve all the rows where a review 
# was written as part of the Vine program (paid), vine == 'Y'.
reviewY_df = votesPercentage_df.loc[votesPercentage_df['vine'] == 'Y']
reviewY_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8150,R1B7M0OP3UNP6O,5,49,52,Y,N
65986,R3KKUSGFZWSUIY,5,56,63,Y,N
66623,R10FO5UKKVZBK2,3,23,23,Y,N
139672,RM4KSGEOR7MU1,5,19,24,Y,N
312539,RG7VRMYLEXD23,4,22,26,Y,N
...,...,...,...,...,...,...
2417734,RLPTVGLU0JQIP,3,42,45,Y,N
2424205,R3ASJ9SENYYYI0,5,40,46,Y,N
2442034,RNU8PK609WT6P,4,347,362,Y,N
2467226,R8YT75NJW0CM9,4,37,40,Y,N
2467514,R2EDL85YVF0PRA,5,23,32,Y,N

In [7]:
# Filter the votesPercentage_df and retrieve all the rows where a review 
# was written as part of the Vine program (unpaid), vine == 'N'.
reviewN_df = votesPercentage_df.loc[votesPercentage_df['vine'] == 'N']
reviewN_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
397,R127WEQY2FM1T3,1,147,175,N,Y
807,R2FJ94555FZH32,2,55,60,N,N
861,R1U3AR67RE273L,1,51,65,N,Y
...,...,...,...,...,...,...
2746513,RCMDCDJR16IKW,4,27,30,N,N
2746560,R3GYUWLD9FWCPS,5,30,30,N,N
2746660,RU0J1ZMBCLD27,5,27,29,N,N
2746678,R1D69XH2THYKTG,5,18,20,N,N
2746807,R3U5C85OV6BUKM,4,38,43,N,N

In [27]:
# Determine: total number of reviews, the number of 5-star reviews, and the 
# percentage of 5-star reviews for the two types of review (paid vs unpaid).

total_5Stars_reviews = total_5Stars_reviews = df[df['star_rating']==5]['star_rating'].count()

results = ({
    'Total_Number_of_Reviews' : len(df),
    'Number_of_5Stars' : df[df['star_rating'] == 5]['star_rating'].count(),
    'Percentage_5StarsReviews_Paid' : (df[(df['star_rating']==5) & (df['vine']=='Y')]['vine'].count()/total_5Stars_reviews)*100,
    'Percentage_5StarsReviews_Unpaid' : ((df[(df['star_rating']==5) & (df['vine']=='N')]['vine'].count())/total_5Stars_reviews)*100
})

results

{'Total_Number_of_Reviews': 2746869,
 'Number_of_5Stars': 1598551,
 'Percentage_5StarsReviews_Paid': 0.13837531614568443,
 'Percentage_5StarsReviews_Unpaid': 99.86162468385432}